<h1>ESTO ES UN INDICE RANDOM</h1>
<hr>
<div class="d-flex justify-content-center">
    <a href="/login" class="btn btn-outline-dark">Already register? - Login</a>
</div>
<br>
<div class="d-flex justify-content-center">
    <a href="/registro" class="btn btn-outline-dark">Join the party - Sign up</a>
</div>